<% if current_user.user_info.present? %>
   <%= link_to 'Edit user info', edit_user_info_path(current_user.user_info, atm_info: @atm_machine.id) %>
<%else%>
   <%= link_to 'Add user info', new_user_info_path(atm_info: @atm_machine.id) %>
<%end%>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@atm_machine.latitude}%2C#{@atm_machine.longitude}" %>

<h3>Nearby ATM_Machine</h3>
<ul>
<% for atm_machine in @atm_machine.nearbys(10) %>
  <li><%= link_to atm_machine.address, atm_machine %> (<%= atm_machine.distance.round(2) %> miles)</li>
<% end %>
</ul>