<div class="container">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@atm_machine.latitude}%2C#{@atm_machine.longitude}" %>

<u><h3>Nearby ATM Machine</h3></u>
<ul>
<% for atm_machine in @atm_machine.nearbys(10) %>
 <li><%= link_to atm_machine.address, atm_machine %> (<%= atm_machine.distance.round(2) %> miles)</li>
<% end %>
</ul>

<% if current_user.user_info.present? %>
   <%= link_to 'Edit User Information', edit_user_info_path(current_user.user_info, atm_info: @atm_machine.id),class:"btn btn-info" %>
<%else%>
   <%= link_to 'Add User Information', new_user_info_path(atm_info: @atm_machine.id),class:"btn btn-info" %>
<%end%>

<% if current_user.account.present?%>
    <%=link_to  'show User Information', user_info_path(current_user.user_info, atm_info: @atm_machine.id), class:"btn btn-primary" %>
    <%=link_to 'Transactions', transactions_path(account_id: current_user.account.id),class:"btn btn-success"%>
    <%=link_to 'Deposit', new_deposit_account_path(current_user.account),class:"btn btn-warning" %>
    <%=link_to 'Withdrawal', new_withdrawal_account_path(current_user.account),class:"btn btn-danger" %>
    <h1>Total Balance <%=number_to_currency(current_user.account.balance)%></h1>
    <h1><%=params[:alert]%></h1>
</div>    
<%end%>
<%= link_to 'Back', atm_machines_path, class:"btn btn-link" %>
</div>






