 <div class="container">
<p id="notice"><%= notice %></p>

<u><h1>Listing Transactions</h1></u>

<table id="myTable">
  <thead>
    <tr>
      <th>ATM</th>
      <th>Amount in Dollar</th>
      <th>Transaction type</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <%@transactions. each do |transaction| %>
      <tr>
        <td><%=transaction.atm_machine_id%></td>
        <td><%= transaction.ammount %></td>
        <td><% if transaction.transaction_type ==1 %>
            <%="Deposit"%>
            <%else%>
            <%="Withdrawal"%>
            <%end%></td>
        <td><%=transaction.created_at.in_time_zone("Central Time (US & Canada)")%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Download a Copy</h3>
<%= link_to "Transactions.csv", transactions_path(account_id: params[:account_id], format: "csv"),class:"btn btn-default" %><br>
<%=link_to 'Back', atm_machine_path(session[:my_atm_machine]), class:"btn btn-link"%>
</div>
