 <div class="container">
<p id="notice"><%= notice %></p>

<u><h1>Listing Transactions</h1></u>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Amount in Dollar</th>
      <th>Transaction type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.ammount %></td>
        <td><% if transaction.transaction_type ==1 %>
            <%="Deposit"%>
            <%else%>
            <%="Withdrawal"%>
            <%end%></td>
        
        <td><%= link_to 'Show', transaction, class:"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=link_to 'Back', atm_machine_path(session[:my_atm_machine]), class:"btn btn-link"%>
</div>
