<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction no:</strong>
  <%= @transaction.transaction_no %>
</p>

<p>
  <strong>Ammount:</strong>
  <%= @transaction.ammount %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
