 <div class="container">
<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div >
      <% if user_signed_in? %>
    Signed in as <%= current_user.email %> .Not you?
     
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%else%>
      <%= link_to "Sign up" , new_user_registration_path   %> or <%= link_to "Sign in " , new_user_session_path %>
      <%end%>
  </div>
  
  <% if flash[:notice].present? %>
      <div class="alert alert-info" id="flash_message" style="text-align: center">
          <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
          <%= notice %>
      </div>
  <% end %>
      <% if flash[:alert].present? %>
        <div class="alert alert-danger text-center" id="flash_message">
        <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        <%= alert %>
        </div>
      <%end%>

<%= yield %>

</body>
</html>
</div>