 <div class="container">
<center>
  <img src="http://cdn.inquisitr.com/wp-content/uploads/2012/02/Tech-Stocks-ATM.jpg" class="img-responsive" alt="Responsive image">
  <%= form_for @account, url: create_withdrawal_account_path, method: :post do |f| %>
  <div class="field">
    <h2><%= f.label "Select amount to withdraw" %></h2><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%=link_to 'Back', atm_machine_path(session[:my_atm_machine]), class:"btn btn-link"%>
</center></div>