<div class="container">
  <center>
<%= form_for @account, url: create_deposit_account_path, method: :post do |f| %>
  <div class="field">
    <h2><%= f.label "Enter Amount to Deposit" %></h2><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit "Deposit Cash"%>
  </div>
<% end %>
<%=link_to 'Back', atm_machine_path(session[:my_atm_machine]), class:"btn btn-link"%>
</center>
</div>

